body{
    margin: 0;
}
.header{
    height: 50px;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
    flex-wrap: wrap;
}
.icon area{
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
icon name{
    font-weight: bolder;
}
.menu area{
    margin-right: 10px;
}
li{
   padding: 5px; 
   border-radius: 3px;
   transition: transform 0.5s, bacground-color 0.5s;
}
li:hover{
    transform: scaleX(1.1);
    background-color: rgb(9, 130, 235);
    border-bottom: 2px solid black;
    cursor: pointer;
}
.main_content{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJmR8LF39ptV7-8XwO-3fw1VV0iU0cXa46-A&s");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.service{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    justify-content: space-evenly;
}
.services_heading{

    text-align: center;
}
.card1,.card2,.card3,.card_img1,.card_img2,.card_img3{
    max-width: 300px;
    height: 250px;
    border:2px solid black;
    text-align: center;
    border-radius: 5px;
}
.about_us{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    background-color: burlywood;
    justify-content: space-evenly;
    margin-top: 20px;
}
.side_img{
    max-width: 400px;
}
.side_text{
    max-width: 500px;
    text-align: justify;
}

.g1,.g2,.g3,.g4,.g5,.g6{
    max-width: 400px;
    cursor: pointer;
    transition: transform 1s;
}
.g1:hover,.g2:hover,.g3:hover,.g4:hover,.g5:hover,.g6:hover{
    transform: scale(1.1);

}